<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/add">Add user</a>
    <table border="1">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                    <td><%= user.firstname %></td>
                    <td><%= user.lastname %></td>
                    <td><%= user.email %></td>
                    <td><%= user.phonenumber %></td>
                    <td>
                        <a href="/update/<%= user._id %>">Edit</a>
                        <a class="delete" data-id="<%= user._id %>">Delete</a>
                    </td>
                </tr>
            <% }) %>
        </tbody>
            <script src="js/script.js">
             
            </script>
</body>
</html>